/* RESETS (START) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* RESETS (END) */

/* SETUP (START) */

:root {
  /* color palette */
  --primary-blue: #1e88e5;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #333333;
  --medium-gray: #666666;
  --light-gray: #e8eff5;
  --yellow: #ffc107;
}

/* SETUP (END) */

/* GENERAL STYLES (START) */

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--white);
  color: var(--black);
}

/* GENERAL STYLES (END) */

html {
  height: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar main-header"
    "sidebar main-content";
}

.main-header {
  background-color: rebeccapurple;
  grid-area: main-header;
}

.sidebar {
  background-color: brown;
  grid-area: sidebar;
}

.main-content {
  background-color: chocolate;
  grid-area: main-content;
}
