/* RESETS (START) */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* RESETS (END) */

/* SETUP (START) */

:root {
  /* color palette */
  --primary-blue: #1e88e5;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #333333;
  --medium-gray: #666666;
  --light-gray: #dddddd;
  --yellow: #ffc107;
}

html {
  font-size: 62.5%;
}

/* SETUP (END) */

/* GENERAL STYLES (START) */

body {
  font-size: 1.6rem;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--white);
  color: var(--black);
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: var(--dark-gray);
  stroke: none;
}

.profile-picture {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-name {
  display: inline-block;
}

.main-header {
  color: var(--dark-gray);
}

/* GENERAL STYLES (END) */

/* SPECIFIC STYLES (START) */

html {
  height: 100%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar main-header"
    "sidebar main-content";
}

.main-header {
  grid-area: main-header;
  padding: 1.2rem 3.6rem;
}

.top-header {
  display: grid;
  grid-template-columns: 3fr minmax(max-content, 1fr);
  grid-template-rows: 1fr;
}

.top-header .search-area,
.top-header .settings-area {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.top-header .search-area {
  justify-content: flex-start;
  gap: 1.6rem;
}

.top-header .settings-area {
  justify-content: flex-end;
  gap: 2.4rem;
}

.top-header .search-bar {
  background-color: var(--light-gray);
  border: none;
  border-radius: 999px;
  width: clamp(250px, 60%, 750px);
}

.top-header .user-name {
  font-weight: bold;
}

.sidebar {
  background-color: brown;
  grid-area: sidebar;
}

.main-content {
  background-color: chocolate;
  grid-area: main-content;
}
